body {
    margin: 0;

    /* Свойства параметров шрифта*/
    font-family: "PT Sans Narrow", Arial, sans-serif; /*подбираем преобладающий шрифт на страницах*/
    font-size: 14px;
    line-height: 24px;
    font-weight: 700;
    color: #ffffff;
    text-transform: uppercase; 

    /*Фон*/
    background-color: #000000;
    background-image: url("img/bg.jpg");
    background-position: top center;
    background-repeat: no-repeat;
}

    /*Описываем глобальные стили*/
a {
    text-decoration: none; 
}

    /*Идем по блокам*/
.main-navigation {
    font-size: 16px;
    line-height: 20px;
    color: #ffffff;

    background-color: #000000;
}

.site-navigation,
.user-navigation {
    /*Убираем маркеры из списков*/
    list-style: none;
}

.site-navigation a, 
.user-navigation a {
    /*Устанавливаем цвет ссылок*/
    color: #ffffff;
}

.site-navigation a:hover,
.site-navigation a:focus,
.user-navigation a:hover,
.user-navigation a:focus {
    background-color: #242424
}

.features-list {
    /*Убираем маркеры из списков*/
    list-style: none; 
}

.features-item {
    text-align: center;
}

.features-item h3 {
    font-size: 30px;
    line-height: 42px;
}

    /*Оформляем общий раздел*/
.index-columns {
    color: #000000;

    background-color: faf7f4;
    background-image: url("img/bg-light.jpg");
    background-position: 0 0;
    background-repeat: repeat;
}